<div class="stuck-points">
    <div jar-preloader ng-show="$ctrl.isLocked">
    </div>
    <jar-deletion ng-show="$ctrl.isShowBin" ng-click="$ctrl.onRemove($event)"></jar-deletion>
    <svg ng-style="$ctrl.compression" jar-draggable jar-dragstart="$ctrl.onDragStart($event)" jar-drag="$ctrl.onDrag($event)">
        <g jar-shaft shaft="$ctrl.shaft"></g>
        <g jar-legend legend="$ctrl.legends.initial"></g>
        <g jar-legend legend="$ctrl.legends.finish"></g>
        <g jar-point-instance point="point" on-point-changed="$ctrl.onPointChanged"
           ng-repeat="point in $ctrl.pointsInstances"></g>
    </svg>
</div>